<div *ngIf="show" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" (click)="closeByClickOutside($event)">
    <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
    From: "opacity-0"
    To: "opacity-100"
    Leaving: "ease-in duration-200"
    From: "opacity-100"
    To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0" id="outside-modal">
        <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4" id="2">
                    <button class="w-4 absolute right-2 top-2" (click)="closeModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="oc sf"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path></svg>
                    </button>
                    <div class="sm:flex sm:justify-start sm:flex-col sm:items-center h-96">
                        <h2 class="p-2 uppercase">Leaderboard</h2>
                        <form [formGroup]="filterForm" class="p-2">
                            <select formControlName="mode">
                                <option [ngValue]=null selected disabled hidden> Select difficulty </option>
                                <option [ngValue]="'easy'"> Easy </option>
                                <option [ngValue]="'normal'"> Normal </option>
                                <option [ngValue]="'hard'"> Hard </option>
                            </select>
                        </form>
                        <div *ngIf="filterForm.controls['mode'].value" class="border-2 max-w-lg p-2 w-80 h-80">
                            <div *ngFor="let item of filterLeaderboard(filterForm.controls['mode'].value)" class="flex justify-between">
                                <p> {{item.name}}</p>
                                <p> {{item.score}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
